# Terraform
.terraform/
*.tfstate
*.tfstate.*
.terraform.lock.hcl

# Node modules
node_modules/

# Build outputs
dist/
build/
bin/
obj/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# C/C++ compiled files
C-C++/**/*.exe
C-C++/**/*.out
C-C++/**/*.o
C-C++/**/Example[0-9]
C-C++/**/Example[0-9][0-9]

# Metal C++ library
C-C++/Graphics/MetalMac/MetalTutorial/metal-cpp/

# TypeScript transpiled JS files
TS/JustTS/TS-Game/src/**/*.js
TS/JustTS/TS-Game/src/**/*.js.map
TS/JustTS/TS-Game/src/**/*.d.ts.map
TS/JustTS/TS-Game/src/**/*.d.ts
TS/JustTS/TS-Game/src/index.js
TS/JustTS/TS-Game/src/index.js.map
TS/JustTS/TS-Game/src/index.d.ts
TS/JustTS/TS-Game/src/index.d.ts.map